div(class = "container")
        div(class = "row")
                div(class = "col-md-12")
        br
        div(class = "panel-group", id = "accordion")
                div(class = "panel panel-default")
                        div(class = "panel-heading")
                                h4(class = "panel-title")
                                        a(data-toggle = "collapse", data-parent = "accordion", href = "#manual") Manual
                        div(id = "manual", class = "panel-collapse collapse in")
                                div(class = "panel-body")
                                        div(class = "row")
                                                div(class = "col-md-12")
                                                        button(type = "button", class = "btn btn-lg btn-success", ng-click = "manualTrigger()") Run Test
                                                        h2 <i ng-show = "manualLoading" class = "fa fa-refresh fa-spin"></i> <span ng-show = "manualLoading">Testing your speed...</span>
                                                        br
                                                        h2 View Output
                                                        div(id = "manual-trigger-results")
                div(class = "panel panel-default")
                        div(class = "panel-heading")
                                h4(class = "panel-title")
                                        a(data-toggle = "collapse", data-parent = "accordion", href = "#schedule") Schedule
                        div(id = "schedule", class = "panel-collapse collapse in")
                                div(class = "panel-body")
                                        div(class = "not-scheduled", ng-show = "!scheduled")
                                                div(class = "row")
                                                        div(class = "col-md-12")
                                                                h4 Interval Length
                                                                select(name = "interval", ng-model = "intervalLength", required)
                                                                        option(value = "15") 15 minutes
                                                                        option(value = "30") 30 minutes
                                                                        option(value = "60") 60 minutes
                                                                        option(value = "120") 120 minutes
                                                br
                                                div(class = "row")
                                                        div(class = "col-md-12")
                                                                button(type = "button", class = "btn btn-lg btn-success", ng-click = "schedule()") Start Schedule
                                                                h2 <i ng-show = "scheduleLoading" class = "fa fa-refresh fa-spin"></i> <span ng-show = "scheduleLoading">Testing your speed...</span>
                                        div(class = "scheduled", ng-show = "scheduled")
                                                div(class = "row")
                                                        div(class = "col-md-12")
                                                                h2 <span style = "color: green"><i class="fa fa-check-circle"></i> Success</span>
                                                                h4 {{intervalLength}}-minute intervals starting on {{scheduleStartDate}} at {{scheduleStartTime}}
                                                                br
                                                                button(type = "button", class = "btn btn-lg btn-danger", ng-click = "cancelSchedule()") Cancel Schedule
                                        div(class = "row")
                                                div(class = "col-md-12")
                                                        h2 View Output
                                                        div(id = "schedule-results")
                                                
        div(class = "row")
                div(class = "col-md-12")
                        p <center>[<i class="fa fa-code"></i>'d with love by <a href = "http://scottie.io">scottie.io</a>]</center>
