div(class = "container")
        div(class = "row")
                div(class = "col-md-12 page-header")
                        h1 Trigger Manually
        div(class = "row")
                div(class = "col-md-12")
                        button(type = "button", class = "btn btn-lg btn-danger") Run
