div(class = "container")
        div(class = "row")
                div(class = "col-md-12 page-header")
                        h1 Trigger Manually
        div(class = "row")
                div(class = "col-md-12")
                        button(type = "button", class = "btn btn-lg btn-danger", ng-click = "manualTrigger()") Run
        div(class = "row")
                div(class = "col-md-12")
                        br
                        table(class = "table table-striped")
                                tr
                                        th Download Speed
                                        th Upload Speed
                                        th IP Address
                                        th Speedtest Location
                                        th Distance in Miles
                                        th Ping
                                        th Tweet Created
                                div(id = "manual-trigger-results")
