#Hide API keys
server/configs/twitter-api-config.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#Never commit node_modules
node_modules
