html
        head
                meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')
                link(rel = 'stylesheet', href = '/bootstrap/dist/css/bootstrap.min.css')
                link(rel = 'stylesheet', href = '/bootstrap/dist/css/bootstrap-theme.min.css')
                link(rel = 'stylesheet', href = '/font-awesome/css/font-awesome.min.css')
                link(rel = 'stylesheet', href = '/css/site.css')
                script(src = '/jquery/dist/jquery.min.js')
                script(src = '/angular/angular.min.js')
                script(src = '/angular-resource/angular-resource.min.js')
                script(src = '/angular-route/angular-route.min.js')
                script(src = '/bootstrap/dist/js/bootstrap.min.js')
                script(src = '/app/app.js')
        body
                block main-content
